{% extends "base.html" %}

{% block title %}
    View
{% endblock %}

{% block content %}
<table>
    <tr>
        <th>Project Types</th>
        <th colspan="2" class="text-center float-right">Options</th>

    </tr>

    {% for td in user.projectslist.all %}
        <tr>
            <td><a href="/projectslist/{{ td.id }}">{{ td.name }}</a></td>

            <form action="{% url 'projectslist_delete' td.id %}">
                {% csrf_token %}

                    <td><button type="submit" class="btn btn-danger float-right">Delete</button></td>

                </tr>

            </form>
        
    {% endfor %}
</table>
{% endblock %}
